.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


img {
    width: 80%;
    display: block;
    margin: 50px auto;
}


a {
    font-size: 1.5em;
}

a:hover {
    background-color: white;
    color: steelblue;
}

h1 {
    text-align:center; 
}

nav, footer{
    text-align:center;
    background-color: steelblue;
    color:white;
    padding: 10px;
}

footer p {
    font-size:20px;
    margin: 20px auto;
}